<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scam</title>
</head>
<body style="background-color:#000;"></body>
<body>
    <div style='    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;' class="contain">
   <h1 style='color:rgb(255, 255, 255);'>𝚃𝚑𝚊𝚗𝚔𝚜 𝚏𝚘𝚛 𝚌𝚑𝚘𝚘𝚜𝚒𝚗𝚐 𝚙𝚘𝚝𝚊𝚝𝚘 𝚢𝚘𝚞 𝚑𝚊𝚟𝚎 𝚋𝚎𝚎𝚗 𝚜𝚌𝚊𝚖𝚖𝚎𝚍 😉 </h1> 
   <img style=' height: 790px; width: 1500px;' src='{% static "images/scam.gif" %}'>

</div>
</body>
</html>