<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;' class="contain">
   <h1>Thank you for choosing POTATO You have been SCAMMED :P</h1> 
   <img style='    width: 300px;' src='{% static "images/pepe.gif" %}'>
   <h2>ENGALUKKU VERA ENGUM KILAIGAL KEDAIYAATHU</h2>
   <img style='    width: 700px;' src='{% static "images/hehehehe.jpg" %}'>
</div>
</body>
</html>